<head>
  <title>Menu Maker</title>
</head>
<style>
  
</style>
<body>
  <div class="upper" align="center">
    <h1>Menu Maker</h1>
    <h2>New Menu</h2>
    <h3>Developer</h3>
  </div>
  <div class="menu_add" align="center">
    <form>
    Item Name Item Price Item Quantity
      <input type="text"name="item_name">
      <input type="text"name="item_price">
      <input type="text"name="item_quantity">
      <input type="submit"value="Add Item">
    </form>
  </div>
  <div class="menu_display"align="left">
    menu
  </div>
</body